@charset "UTF-8";
html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, input, textarea, select, button, th, td, blockquote {
	margin:0;
	padding:0;
	box-sizing:border-box;
	vertical-align:top;
	word-break:break-all;
	overflow-wrap:break-word;
	font-size:inherit;
}
ul, ol, li {
	list-style:none;
}
a {
	color:inherit;
	text-decoration:none;
}
img {
	max-width:100%;
	vertical-align:top;
}
button {
	cursor:pointer;
}